:root {
    --black: #000000;
    --grey: #CBD3D8;
    --red: #E50914;
    --orange: #E79212;
    --green: #1CBD19;
  }

.back-arrow{
    font-size: 30px;
    border: transparent;
    color: var(--red);
    text-decoration: none;
    position: relative;
}

.details-images-container{
    display: flex;
}

.poster-container{
    width: 60%;
    display: flex;
    justify-content: center;
}

.backdrop-img{
    width: 100%;
    height: 100%;
    opacity: 50%;
    position: fixed;
}

.poster-img{
    margin-top: 90px;
    width: 330px;
    height: 550px;
    border-radius: 30px;
    position: relative;
}

.details-container{
    width: 40%;
}

.movie-info h1{
    margin-top: 90px;
    color: brown;
    font-weight: 700;
    font-size: 41px;
    position: relative;
}

.movie-info p{
    color: var(--black);
    margin-top: 50px;
    font-size: 22px;
    position: relative;
}
