*{
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body{
    background-color: #000;
    color: #fff;
  }
  
  .navbar{
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #121212;
  }

  .navbar h2,
  .navbar span{
    color: #f7d356;
    font-size: 1.6rem;
    margin-left: 1rem;
    transition: .2s;
    cursor: pointer;
  }

  .navbar h2:hover{
    color: #b8930c;
  }

  
  /* === container movies ===== */
  .container h2{
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Limelight', cursive;
  }
  .grid-movies{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 2rem;
      max-width: 1200px;
      margin: 0 auto;
  }
  
  .card{
    width: 30%;
    color: #fff;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #111;
    padding: 1rem;
    border-radius: 20px;
    border: solid 2px silver;
    border-radius: 20px;
  }

  .card img,
  .card span{
    margin-bottom: 1rem;
    border-radius: 20px;
  }

  .card button{
    background-color: #f7d354;
    border: none;
    border-radius: 4px;
    color: #000;
    padding: 0.5rem; 
    align-items: center;
    transition: .4s;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
}

.title{
  color: darkred;
  font-size: 22px;
}

.card button:hover{
    background-color: #b8930c;
    
}